/* Enter your custom styles here */
/* Full-height chain to let tables auto-fill */
html, body, .sapUiView, .sapUiComponentContainer {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Scope to your page by ID or a custom class */
#page,
#mainFlexBox,
#iconTabBar {
  height: 100% !important;
  width: 100%;
}

/* Let IconTabBar content pass height to inner layouts */
#iconTabBar .sapMITBContent {
  height: 100%;
}

.helpBtn {
    .sapMBtnInner{
        border-color: #ffee9e !important;
        background-color: #ffee9e !important;
    }

    .sapMBtnContent{
        color: #b44f00;
    }
    
    .sapMBtnIcon{
        color: #b44f00 !important;
    }
}
